@font-face{
    font-family: 'Fira Sans';
    src: url('eot/FiraSans-Light.eot');
    src: local('Fira Sans Light'),
         url('FiraSans-Light.eot') format('embedded-opentype'),
         url('FiraSans-Light.woff') format('woff'),
         url('FiraSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('eot/FiraSans-Regular.eot');
    src: local('Fira Sans Regular'),
         url('FiraSans-Regular.eot') format('embedded-opentype'),
         url('FiraSans-Regular.woff') format('woff'),
         url('FiraSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('eot/FiraSans-Italic.eot');
    src: local('Fira Sans Regular Italic'),
         url('FiraSans-Italic.eot') format('embedded-opentype'),
         url('FiraSans-Italic.woff') format('woff'),
         url('FiraSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}


@font-face{
    font-family: 'Fira Sans';
    src: url('eot/FiraSans-Bold.eot');
    src: local('Fira Sans Bold'),
         url('FiraSans-Bold.eot') format('embedded-opentype'),
         url('FiraSans-Bold.woff') format('woff'),
         url('FiraSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}